packages:
  yum:
    mod_ssl : []
    
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      Listen 443
      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        
        Alias /static/ /opt/python/current/app/static/
        <Directory /opt/python/current/app/static>
        Order allow,deny
        Allow from all
        </Directory>
        
        WSGIScriptAlias / /opt/python/current/app/generations.py
        
        <Directory /opt/python/current/app>
        Require all granted
        </Directory>
        
        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app \
          python-home=/opt/python/run/venv \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl
        
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIC4TCCAckCFAoMQHOD+kszbIeBthMz4hjOpmYjMA0GCSqGSIb3DQEBCwUAMC0x
      CzAJBgNVBAYTAktXMQ8wDQYDVQQKDAZQYXl3YXkxDTALBgNVBAsMBFRlY2gwHhcN
      MjQwMjExMDMwMTE5WhcNMjUwMjEwMDMwMTE5WjAtMQswCQYDVQQGEwJLVzEPMA0G
      A1UECgwGUGF5d2F5MQ0wCwYDVQQLDARUZWNoMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAr4pFKB6ldF5PXXgTaLbV6Dc2VFLKacTe9WyI4C/qxo+GsZr7
      kxpbfI7HpnHE+jvn1jcHE8KtUIMP5f4LSnJvYesULhsnXOofZb22OQDEi2RMEn8+
      sQh40QmMsypSuoI/2e5wqmN55sCnHCCaGONQfxBnAD8fW2+TeSTtj0aXXMBAQl8z
      7lOUH4b/UkoXjyroPQaaC+KYSNQ2WYmCStcoAU3Hfmm904snWXLcjXGLdOTAFqCT
      hsx94JypJUcKVO4RTNvvrrTDTmrD1uZeFqBn2BPoQEuVAACGqb1ZawelNfH80fST
      TXDExe7ns89KH6Xtsco7wbITgTkArfjMdYzQEQIDAQABMA0GCSqGSIb3DQEBCwUA
      A4IBAQB5TkT/+twSmAbrOB38izTzOIKy5mQeYMCLSWNkzrN8PXJUYudvocuF4mAC
      8YF3FdJLLMFb357iXK1Vcl+KyoPxStRjZdMo5Mgdv+Bs8bmx0se94eTZK7Z34XYb
      W5qgksMhShVki9C3oF9YLD18KWuxcPQ6yk6S/wG9Xid8e7ymSIg3edquIT0xXGwa
      7/iX1uNxeGnTPwshKe4yIgudaRZ4RWxj+paNLREcZ0swizW7JfTIy9qp7b4oybQE
      BNX+4yFKHs4L9k4rr7hRIEOWD2A74t5PZ/cZZIVND/Si6g5uT9Ppdd3oPf3WITqF
      cA8FFQlGClAA3di6w/un/n4Nck/K
      -----END CERTIFICATE-----
       
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCvikUoHqV0Xk9d
      eBNottXoNzZUUsppxN71bIjgL+rGj4axmvuTGlt8jsemccT6O+fWNwcTwq1Qgw/l
      /gtKcm9h6xQuGydc6h9lvbY5AMSLZEwSfz6xCHjRCYyzKlK6gj/Z7nCqY3nmwKcc
      IJoY41B/EGcAPx9bb5N5JO2PRpdcwEBCXzPuU5Qfhv9SShePKug9BpoL4phI1DZZ
      iYJK1ygBTcd+ab3TiydZctyNcYt05MAWoJOGzH3gnKklRwpU7hFM2++utMNOasPW
      5l4WoGfYE+hAS5UAAIapvVlrB6U18fzR9JNNcMTF7uezz0ofpe2xyjvBshOBOQCt
      +Mx1jNARAgMBAAECggEAAnGOzktEhPVHiCbcdYGbqOL7ElTUTrRrLbuhv7+UnMhk
      f0/UfuY7ITJ0BgjUZwiMpopw9a31yRNuyVLuTk5MgNTyAxHlGOG4QSueABCKK+Fg
      C7ir8ApZppmwiATBTqmMgP8IOd77oSIyau2E2tU811MsbXzzdbIWbMIximQlrEIj
      WQujMusstJHYySS+Ie9Aww9HrLUTJuQrppMl0W/OxM9ASwtcO1daQ5hMDffCqs7G
      3f6WLzQICIqBMcKhzaqNqXMs+azRcRItCNQaiMXVMaCzv6aqqmBPzntJKL4v9jR8
      9qHLOq0Pru4tF3l9YoK4UePeRVC1+s5qGBA/on3dfwKBgQDhkdDw/UYCArIp5rF8
      MKfdD9qP1kNDGJGp+3FnkKmjHnk0PJ3qnSxtgmGpRbMlJVpvN1HctmyYiq/tAJCz
      uosJdurrKWo/RgS+ToEsgOxhl62AkwD2ptKUZVndmlXvqcJ35bupH7RqTw+yUYzR
      lq+fn1nt2v6nIjXhMR7p+Or+LwKBgQDHOKfI1Sr4zaD2JF6VZglJxuDMgctCdAyE
      6y9ecVMI9s3eLlXAU7K1+4BOyjHjf+B/hIPlQfX7ysm0duxk1Jjtg3zk90bHaQHm
      DBMZCb6Vrp/hY++VjaG7C4oOV2bXXPkeL5vP+mo6+3iju7kfuNUvOu8YOad4hEdd
      /FHuEJHFvwKBgAYtmz5ugXNepYiWQ/g10PMyEvdrk+4LhznTpDiE8tB/7ivrGRwq
      7+OT9Z7QRObYjhCLwFc+O901tznTkSMLEfHRav/D46AWB906gzk30sGdiOgDnrwi
      t5PO7tYt+vqUeLoV9bzdHHDo93IX37aB3Q+PKsRkAiOLwVQIp2MbKTyLAoGARAWz
      PF6UqplDcWffp7FMUJWIYiubJFiNgcDvzpZxHKlwh4FYpC+v4HU8TSq6uAwMsl2j
      z16jR9Lo5iaI9rCkesyfk2pfD21qSYsr5iuumFskmgfOYUkXxM7e16C+K6DCKq1k
      zTGangMJIRbS0eMBX3wG8UWWSg8Ycx3ZN6kOrO8CgYBK1cjVaRnDDHPAJp42K4f7
      bMXdBBuXR6EVqUJHQiQRn40KxWDnSdbzcnsm2wHXA+CuYQM00CHhBov4GxTivzkc
      mTVdoQ1Y2LrPpzRvCOw/T2OhGWFr3HGauQtDX6K/1vj2VZQHTZldvQaP9qChzpBg
      63E2ELZZjBHQ363jhON7nQ==
      -----END PRIVATE KEY-----
      
container_commands:
  01killhttpd:
    command: "killall httpd"
  02waitforhttpddeath:
    command: "sleep 3"