{% extends "layouts/dashboard_base.html" %}
{% load static i18n mathfilters admin_list %}


{% block content_title %}
{% endblock %}

{% block content %}
<div style="width: 400; float: left;" >
    <canvas id="chart-product-count-by-category" class="chart-canvas" width="400" height="170" ></canvas>
</div>
<div style="width: 400; float: left;" >
    <canvas id="chart-product-count-by-allergies" class="chart-canvas" width="400" height="170" ></canvas>
</div>
<div class="col-md-2">
    {% if cl.has_filters %}
        {% block filters %}
            <div class="card card-body border-0 shadow table-wrapper table-responsive">
                <div class="card-header filter_card_header">
                    <h5>{% trans 'Filter' %}</h5>
                </div>
                <div class="card-body">
                    {% for spec in cl.filter_specs %}
                        {% admin_list_filter cl spec %}
                    {% endfor %}
                </div>
            </div>
        {% endblock %}
    {% endif %}
</div>
{% endblock %}
{% block pagination %}{% endblock %}
{% block scripts %}
{{ product_count_by_category|json_script:"product_count_by_category" }}
{{ product_count_by_allergies|json_script:"product_count_by_allergies" }}
    <script src="{% static 'charts/product_charts.js' %}"></script>
{% endblock scripts %}